// green circle

.green-circle-about {
  position: absolute;
  width: 496px;
  height: 496px;
  left: 744px;
  top: 88px;
  z-index: -1;
}

// image avatar

.img-avatar {
  position: absolute;
  width: 368px;
  height: 320px;
  left: 816px;
  top: 168px;
}











// footer
.footer-small-about {
  background: transparent;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.986);
  position: absolute;
  bottom: -136px;
  width: 100%;
}

.green-form-footer-about {
  width: 100%;
  position: absolute;
  bottom: -224px;
  z-index: -1;
}
