// green circle

.green-circle-about {
  position: absolute;
  width: 31rem;
  height: 31rem;
  left: 46.5rem;
  top: 5.5rem;
  z-index: -1;
}

// image avatar

.img-avatar {
  position: absolute;
  width: 23rem;
  height: 20rem;
  left: 51rem;
  top: 10.5rem;
}


// about text

.about-heading {
  h2 {
    font-size: 3.5rem;
  }
}

.about-heading {
  p {
    color: #828282;
    padding-top: 1rem;
  }
}

.about-heading {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 30.5rem;
height: 23rem;
left: 7.5rem;
top: 7rem;
}

// about buttons

.linkedin-button-about {
  a{
    text-decoration: none;
    color: black;
  }
}

.linkedin-button-about {
  position: absolute;
  top: 26rem;
  left: 7.5rem;
  border-radius: 5px;
  height: 3rem;
  background-color: #d3eee1;
  border: none;
}

.linkedin-button-about:hover {
  background-color: transparent;
  border: 2px solid black;
}

// footer
.footer-small-about {
  background: transparent;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.986);
  position: absolute;
  bottom: -8.5rem;
  width: 100%;
}

.green-form-footer-about {
  width: 100%;
  position: absolute;
  bottom: -14rem;
  z-index: -1;
}
