// green circle

.green-circle-about {
  position: absolute;
  width: 496px;
  height: 496px;
  left: 744px;
  top: 88px;
  z-index: -1;
}

// image avatar

.img-avatar {
  position: absolute;
  width: 368px;
  height: 320px;
  left: 816px;
  top: 168px;
}


// about text

.about-heading {
  h2 {
    font-size: 3.5rem;
  }
}

.about-heading {
  p {
    color: #828282;
    padding-top: 16px;
  }
}

.about-heading {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 486px;
height: 369px;
left: 120px;
top: 110px;
}

.linkedin-button-about {
  a{
    text-decoration: none;
    color: black;
  }
}

.linkedin-button-about {
  position: absolute;
  top: 416px;
  left: 120px;
  border-radius: 5px;
  height: 48px;
  background-color: #d3eee1;
  border: none;
}

.linkedin-button-about:hover {
  background-color: transparent;
  border: 2px solid black;
}

// footer
.footer-small-about {
  background: transparent;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.986);
  position: absolute;
  bottom: -136px;
  width: 100%;
}

.green-form-footer-about {
  width: 100%;
  position: absolute;
  bottom: -224px;
  z-index: -1;
}
