// landing

img.img-girl {
  width: 24rem;
  height: 24rem;
  position: absolute;
  right: 7rem;
  top: 13.5rem;
}

img.img-cat {
  right: 5rem;
  position: absolute;
  height: 6.5rem;
  top: 22rem;
}
