@import 'media-queries';


// landing

img.img-girl {
  width: 24rem;
  height: 24rem;
  position: absolute;
  right: 7rem;
  top: 13.5rem;
  @include tablet {
    right: -12rem;
    width: 22rem;
  }
}

img.img-cat {
  right: 5rem;
  position: absolute;
  height: 6.5rem;
  top: 22rem;
  @include tablet {
    right: -14rem;
    top: 23rem;
    height: 5.5rem;
  }
}
