@import 'media-queries';

// landing page


%button-size {
  position: absolute;
  top: 23rem;
  border-radius: 5px;
  height: 3rem;
}
.linkedin-button {
  a{
    text-decoration: none;
    color: black;
  }
}

.linkedin-button {
  left: 16.5rem;
  @extend %button-size;
  @include tablet {
    top: 21rem;
    left: 18.5rem;
  }
}

.linkedin-button:hover {
  background-color:#d3eee1;
  border: none;
}


.cv-button {
  a{
    text-decoration: none;
    color: black;
  }
}

.cv-button {
  left: 7.5rem;
  border: none;
  background-color: #d3eee1;
  @extend %button-size;
  @include tablet {
    top: 21rem;
    left: 8.5rem;
  }
}

.cv-button:hover {
  background-color: transparent;
  border: 2px solid black;
}
