.footer-small {
  background: transparent;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(255, 255, 255, 0.986);
  position: absolute;
  bottom: -840px;
  width: 100%;
}

.footer-small-links {
  a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  i {
    color: black;
  }
}
.footer-small-links {
  i:hover {
    color: #d3eee1;
  }
}

.footer-copyright {
  color: black;
}

.green-form-footer {
  width: 100%;
  position: absolute;
  bottom: -896px;
}
