@import 'media-queries';

.footer-small {
  background: transparent;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.986);
  position: absolute;
  bottom: -52.5rem;
  width: 100%;
  @include tablet {
    width: 69rem;
  }
}

.footer-small-links {
  a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0px 10px;
  }

  i {
    color: black;
  }
}
.footer-small-links {
  i:hover {
    color: #d3eee1;
  }
}

.footer-copyright {
  color: black;
}

.green-form-footer {
  width: 100%;
  position: absolute;
  bottom: -56rem;
  z-index: -1;
  @include tablet {
    width: 145%;
  }
}
