.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  right: 24px;
  position: absolute;
}

.green-form-nav {
  height: 480px;
  width: 640px;
  position: absolute;
  right: -1px;
  z-index: -1;
}
