.title-projects {
  position: absolute;
  top: 656px;
  text-align: center;
  left: 572px;
}

.img-stripe {
  position: absolute;
  left: 572px;
  top: 712px;
  width: 144px;
  height: 4px;
}

.card-project {
  overflow: hidden;
  height: 240px;
  width: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  position: absolute;
  top: 776px;
  left: 240px;
}

.card-project {
  img {
    height: 100%;
    width: 560px;
    object-fit: contain;
  }
}

.card-project {
  h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
  }
}

.card-project {
  p  {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    text-align: center;
  }
}

.card-project .card-project-infos {
  padding: 16px;
}

.card2-project {
  overflow: hidden;
  height: 240px;
  width: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  position: absolute;
  top: 1080px;
  left: 240px;
}

.card2-project {
  img {
    height: 80%;
    width: 560px;
    object-fit: contain;
  }
}

.card2-project {
  h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
  }
}

.card2-project {
  p  {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    text-align: center;
  }
}

.card-project .card-project-infos {
  padding: 16px;
}
