// title

.title-projects {
  position: absolute;
  top: 41rem;
  text-align: center;
  left: 35.75rem;
}

// arrow

.img-stripe {
  position: absolute;
  left: 35.75rem;
  top: 44.5rem;
  width: 9rem;
  height: 0.25rem;
}

// card

%card-specs {
  overflow: hidden;
  height: 16rem;
  width: 50rem;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  position: absolute;
  left: 15rem;
}

%text-card {
  font-size: 0.75rem;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0.5rem;
  text-align: center;
}

%title-card {
  color:black;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.card-project {
  top: 48.5rem;
  @extend %card-specs;
}

.card-project {
  img {
    height: 100%;
    width: 35rem;
    object-fit: contain;
  }
}

.card-project {
  a {
    text-decoration: none;
  }
}

.card-project {
  h3 {
    @extend %title-card;
  }
}

.card-project {
  p  {
    @extend %text-card;
  }
}

.card-project .card-project-infos {
  padding: 1rem;
}

.card2-project {
  top: 67.5rem;
  @extend %card-specs;
}

.card2-project {
  a {
    text-decoration: none;
  }
}

.card2-project {
  img {
    height: 80%;
    width: 35rem;
    object-fit: contain;
  }
}

.card2-project {
  h3 {
    @extend %title-card;
  }
}

.card2-project {
  p  {
    @extend %text-card;
  }
}

.card-project-infos {
  padding: 1rem;
}


// icons

.card-stack-icons {
  img {
    width: 2.5rem;
    padding: 0px 10px;
  }
}

.card-stack-icons {
  margin-top: 2.5rem;
  text-align: center;
}

// main title

h3:hover {
  color: #d3eee1;
}



