
// landing

.big-heading {
  h1 {
    font-size: 3.5rem;
  }
}

.big-heading {
  p {
    color: #828282;
    padding-top: 1rem;
  }
}

.big-heading {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 30.5rem;
height: 23.25rem;
left: 7.5rem;
top: 7rem;
}


